body {
    margin: 0;
    padding: 0;
  
}

.main {
    display: flex;
    width: 100vh;
    /* justify-content: center; */
}

.side-hero {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./img/city.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    /* position: relative; */
    width: 60vw;
    min-width: 350px;
}

.side-hero div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 2px 2px;
}

.side-hero img {
    width: 6rem;
    padding: 8px;
}

.side-hero p {
    font-size: 1rem;
    bottom: 0px;
    color: rgba(255, 255, 255, .575);
    position: absolute;
}